section
  .flex.flex--center
    .col-1
      p Waddup G Money, this be your new paragraph yo
    .col-1
      p Waddup Homie, this is your 2nd paragraph

section
  .flex.flex--space-around
    .col-1
      p Waddup G Money, this be your new paragraph yo
    .col-1.order-first
      p Waddup Homie, this is your 2nd paragraph

section
  .flex.flex--center
    .col-2
      p This be the honeydew brah

section
  .flex.flex--center
    .col-50.flex.flex--center
      p This be the honeydew brah
