section.projects
  .flex.flex--center
    .col-1
      //p Waddup G Money, this be your new paragraph yo
      
    .col-1.order-first
      p.home-lead.outdented ...Projects Completed...just not right now
      a(href="https://github.com/whoschrischu").home-cta To the GitHub!
