section
  .flex.flex--center
    .col-50.flex.flex--center
      .col-1
        p.home-lead Taking Photos
        a(href="").
        a(href="").home-cta See more!

    .col-50.flex.flex--center
      .col-1
        p ...with a Nikon and Fuji
